<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hant" version="6.2.0" targetFramework="net45" />
  <package id="LinqKit" version="1.1.15" targetFramework="net45" />
  <package id="LinqToExcel" version="1.7.1" targetFramework="net45" />
  <package id="MicosoftReportViewerWebForms_v11" version="1.0.0" targetFramework="net45" />
</packages>