@using DataTransferWeb.ViewModels
@model LoginVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        文檔轉換系統
    </title>   
    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/alertify/alertify.min.js"></script>
    <link href="~/Content/alertify/alertify.core.css" rel="stylesheet" />
    <link href="~/Content/alertify/alertify.default.css" rel="stylesheet" />


</head>
<body>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { autocomplete = "off", Id = "Login_Form" }))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="panel-title">
                                        登入
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <fieldset>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Account, new { @class = "form-control", @style = "text-transform: uppercase", @placeholder = "帳號", @autofocus = true })
                                        @Html.ValidationMessageFor(x => x.Account, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "密碼" })
                                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <input id="btnLogin" name="btnLogin" type="button" value="登入" onclick="login();" class="btn btn-lg btn-success btn-block" />
                                    <br />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

    <script>
        function login() {
            var id = $("#Account").val();
            if (id == undefined || id.trim() == '') {
                alertify.alert('請輸入帳號');
                return false;
            } else {
                $("#Login_Form").submit();
            }
        }
    </script>
</body>
</html>
